*.tar.gz
*.swp
git-sqlite-alpha
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
install-sh
missing
git-sqlite
git-sqlite-diff
git-sqlite-diff-parse
git-sqlite-merge
schema.sql
